@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&family=Poppins:wght@300;400;500;600;700;800&family=Rubik:wght@600&family=Ubuntu:wght@700&family=Montserrat:wght@500;600;700;800&display=swap');

.navbar-brand{
  font-family: 'Rubik';
  font-size: 1.5em;
}

.nav-link{
  font-family: 'Rubik';
  font-size: 0.90em;
  font-weight: 600;
  color: #747d8c;
}

span{
  font-family: 'Ubuntu';
  font-size: 1.5em;
}

.question-count{
  font-family: 'Ubuntu';
  font-size: 1em;
}

h2{
  font-family: 'Ubuntu';
  font-size: 2em;
}

h4{
  font-family: 'Ubuntu';
  font-size: 1.3em;
}

p{
  font-size: 0.85em;
}

.form-box{
  background: #fff;
}

.submitList{
  width: 48%;
}

.submitList .list{
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 0.9em;
}

.status{
  background: #70a1ff;
  font-size: 13px;
  color: #fff;
}

.question-text{
  font-size: 0.99em;
}

.btn{
  background-color: #54a0ff;
}


@media only screen and (max-width: 1080px){
  .submitList{
    width: 100%;
  } 

  .question-box{
    width: 355px;
  }
}